@use 'mixins' as *;
@use 'animation' as *;

.img-drop-down {
    position: relative;
    display: inline-block;
	cursor: pointer;

	& > img {
		margin: 0 20px;
		width: 42px;
		border-radius: 50%;
	}
}

.drop-down-content {
	display: none;
	position: absolute;
	min-width: 160px;
	border-radius: 3px;
	background-color: #f9f9f914;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;

	& > .drop-down-element {
		height: 1rem;
	}
}


.card-view {
	transition: all 0.5s ease;
	outline: 1px solid #ffffff;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

	&:hover {
		transition: all 0.5s ease;
		box-shadow: 0px 8px 16px 0px rgba(10, 84, 212, 0.925);
	}
}

.modal {
	display: block;
	position: fixed;
	z-index: 1;
	inset: 0;
	width: 100%;
	height: 100%;
	background: #000000b7;
	transform: scale(0);
	transition: all 0.5s ease;

	& > .modal-content {
		width: 500px;
		height: 250px;
		top: 10vh;
		display: flex;
		flex-direction: column;
		position: relative;
		background: linear-gradient(180deg, rgb(40, 20, 56) 0%, rgba(75,2,144,1) 100%);
		margin: auto;
		border-radius: 5px;
		color: #ffffff;
	}

	& > .modal-view-content {
		@extend .modal-content;
		width: 55%;
		height: 80%;
	}
}

.modal-title {
	font-size: 1.25rem;
}

.modal-meta {
	display: flex;

	& > div {
		flex: 1;
	}
}

.modal-view-infos {
	display: flex;
	flex-direction: column;

	& > div {
		margin-left: 15px;
		display: flex;

		& > span {
			margin: 2px 2px;
			font-size: 0.75rem;
		}
	}
}

.modal-self-option {
	display: flex;
	align-items: center;
	justify-content: center;

	& > label {
		margin-right: 10px;
	}
}

.modal-view-desc {
	height: 100%; 
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

	& > div {
		width: 95%;
		height: 90%;
		margin: auto;

		& > textarea {
			width: 100%;
			height: 100%;
		}
	}
}

.modal-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	flex-grow: 1;

	& > .modal-input {
		label {
			margin-right: 0.6rem;
		}
	}
}

.modal-options {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;

	div {
		padding: 8px 15px;
		margin: 10px 0;
	}

	.edit-btn {
		@include basic-button(#056785, #027d90);
	}

	.close-btn {
		@include basic-button(#d71e1e, #cb0930);
	}

	.submit-btn {
		@include basic-button(#2bff01, #4ce11a);
	}
}

.modal.open-modal {
	transform: scale(0);
    animation: OpenPopup 1s cubic-bezier(0.16, 0.85, 0.4, 1) forwards;

	& > .modal-content {
		transform: scale(0);
        animation: ZoomIn .5s .8s cubic-bezier(0.16, 0.85, 0.440, 1) forwards;
	}
}

.modal.close-modal {
	transform: scale(1);
    animation: ClosePopup 1s .3s cubic-bezier(0.16, 0.85, 0.440, 1) forwards;

	& > .modal-content {
		transform: scale(1);
        animation: ZoomOut .5s cubic-bezier(0.16, 0.85, 0.440, 1) forwards;
	}
}
